<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Transaction Cancelled</h2>
        <br /><br />
    </div>
    <h3 class="col-12 text-center" style="color:darkred">
        <br />
        Thank you! <br />

    </h3>
</div>